<p>std-data-com works!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Grade</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of studentsArray">
            <td>{{std.id}}</td>
            <td>{{std.name}}</td>
            <td>{{std.address}}</td>
            <td>{{std.gender}}</td>
            <td>{{std.grade}}</td>
            <td>{{std.contact}}</td>
        </tr>
    </tbody>
</table>